@model _221229064_BitirmeProjesi.Models.MemberViewModel

<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<div class="login-container">
    <h2>Giriş Yap</h2>
    @if (ViewData["ErrorMessage"] != null)
    {
        <p class="error-message">@ViewData["ErrorMessage"]</p>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <p class="error-message">@TempData["ErrorMessage"]</p>
    }

    <form method="post" asp-action="Index" asp-controller="Login">
        <div>
            <label for="Email">Email:</label>
            <input type="email" id="Email" name="Email" required />
        </div>
        <div>
            <label for="Password">Şifre:</label>
            <input type="password" id="Password" name="Password" required />
        </div>
        <button type="submit">Giriş Yap</button>
    </form>
</div>
