.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-container input[type="text"],
.form-container select,
.form-container button {
    width: calc(100% - 22px); 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .form-container button:hover {
        background-color: #0056b3;
    }

.stars-container {
    display: flex;
    justify-content: space-between;
}

    .stars-container label {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .stars-container input[type="checkbox"] {
        margin-right: 5px;
    }
